body {
    font-family: monospace;
    background-color: #002b35;
    color: #eee8d6;
    font-size: 1.5em;
}

p {
    line-height: 0.5;
}

#terminal {
    width: 95%;
    background-color: #002b35;
  }

  #input-container {
    display: flex;
    /* background-color: blue;as */
  }

  #input-container span {
    color: #39FF14;
    /* background-color: red; */
    line-height: 1.5;
  }

  #input-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust spacing between span and input */
  }

  #input {
    /* caret-color: red; */
    caret-color: transparent;
    font-family: monospace;
    color: #ffd;
    border: none;
    background-color: transparent;
    /* background-color: red; */
    resize: none;
    outline: none;
    width: min-content;
    font-size: inherit;
  }

  #cursor {
    width: 8px;
    height: 18px;
    background: #39FF14;
    animation: blink-animation 1s step-end infinite;
    z-index: 2;
  }

  #commandSignature {
    color: #dd2b36;
  }

  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }

  #help-text {
    color: red;
    text-shadow: red 2px 0 5px;
  }

  #commandOptions {
    line-height: 1.5;
    /* margin-left: 2em */
    color: fuchsia;
    text-shadow: fuchsia 2px 0 5px;
  }

  #socialOptions {
    line-height: 1.5;
    /* margin-left: 2em */
    color: cyan;
    text-shadow: cyan 2px 0 5px;
  }

  #socialLinks a {
    text-decoration: none;
    color: #ffd;
  }

  #socialLinks a:hover {
    color: black;
    background-color: #ffd;
  }

  #about-sentence {
    line-height: 1.5;
  }

  #output {
    width: 50%;
  }