.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #7393B3; */
    background-color: lightgrey;
    box-sizing: border-box;
    text-align: center;
    line-height: 0;
  }
  
  .taskbar img {
    /* background-color: #7393B3; */
    padding: 5px;
  }